/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@font-face {
   font-family: "Elvish";
   src: url("Elvish.ttf") format('truetype'),
        url("Elvish.otf") format('opentype');
 }
 @font-face {
   font-family: "Gnomish";
   src: url("Gnomish.ttf") format('truetype');
 }
 @font-face {
   font-family: "Infernal";
   src: url("Infernal.otf") format("opentype");
 }
 @font-face {
   font-family: "Undercommon";
   src: url("Undercommon.otf") format("opentype");
 }
 @font-face {
   font-family: "Drowic";
   src: url("HighDrowic.otf") format("opentype");
 }
 @font-face {
   font-family: "Dwarvish";
   src: url("Dwarvish.otf") format("opentype");
 }
 @font-face {
   font-family: "Draconic";
   src: url("Draconic.otf") format("opentype");
 }
 @font-face {
   font-family: "Celestial";
   src: url("Celestial.otf") format("opentype");
 }
 @font-face {
   font-family: "Thieves";
   src: url("Thieves.ttf") format("truetype");
 }
 @font-face {
   font-family: "Goblin";
   src: url("Goblin.otf") format("opentype");
 }
 .Elvish {
   font-size: 10px;
   font-family: "Elvish";
 }
 .Gnomish {
   font-size: 28px;
   font-family: "Gnomish";
 }
 .Infernal {
   font-size: 28px;
   font-family: "Infernal";
 }
 .Undercommon {
   font-size: 28px;
   font-family: "Undercommon";
 }
 .Drowic {
   font-size: 28px;
   font-family: "Drowic";
 }
 .Draconic {
   font-size: 28px;
   font-family: "Draconic";
 }
 .Dwarvish {
   font-size: 28px;
   font-family: "Dwarvish";
 }
 .Celestial {
   font-size: 28px;
   font-family: "Celestial";
 }
 .Thieves {
   font-family: "Thieves";
 }
 .Goblin {
   font-size: 28px;
   font-family: "Goblin";
}
