// Place all the styles related to the CharClass controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.path {
  margin-left: 50px;
}
.path_name {
  font-size: 20pt;
  font-weight: bold;
}
.path_desc {
  margin-left: 25px;
}
