<h1>Features</h1>
<div class='form-group row'>
  <div class='col-sm-3'></div>
  <label for='filter' class='col-sm-2 col-form-label' style='line-height:35px;'>Apply Filter</label>
  <div class='col-sm-4'>
    <select class='form-control' id='filter' name='filter' autocomplete='off'>
      <option value='all'>Show all Features</option>
      <option value='Background'>Show Background Features</option>
      <% @char_classes.each do |char| %>
      <option value='<%= char.name %>'>Show <%= char.name %> Features</option>
      <% end %>
    </select>
  </div>
</div>
<div>
  <ul>
    <% @features.each do |feature| %>
      <% if feature.race_id.is_a? Integer %>
        <% name = @races.select{|r|r.id == feature.race_id}.first.name unless feature.race_id.to_s.empty? %>
      <% elsif feature.class_id.is_a? Integer %>
        <% name = @char_classes.select{|c|c.id == feature.class_id}.first.name unless feature.class_id.to_s.empty? %>
      <% else %>
        <% name = 'Background' %>
      <% end %>
      <li class='<%= name %> all'><%= link_to "#{feature.name} (#{name})", feature_path(feature.id) %></li>
    <% end %>
  </ul>
</div>
<script type='text/javascript'>
  $('#filter').on('change', function() {
    $('.all').hide();
    $('.' + this.value).show();
  });
</script>
