<h1><%= @feature.name %></h1>
<div>
  <%= raw @feature.description %>
</div>
<% unless @feature.table.to_h.empty? %>
  <div class='attribute-border'></div>
  <div>
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <% @feature.table.to_h['headers'].each do |head| %>
            <th><%= head %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @feature.table.to_h['rows'].each do |row| %>
          <tr>
            <% row.each do |r| %>
              <td><%= r %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
